div.scrolling_content {
  position: fixed;
}
.coscev-item {
  position: absolute;
}
.top-hor-left,
.top-vert-left,
.top-vert-right,
.top-hor-right {
  top: 0%;
}
.bottom-hor-left,
.bottom-vert-left,
.bottom-vert-right,
.bottom-hor-right,
.bottom-hor-left .coscev-content,
.bottom-hor-right .coscev-content {
  bottom: 0%;
}
.top-hor-left,
.bottom-hor-left,
.top-vert-left,
.bottom-vert-left {
  left: 0%;
}
.top-hor-right,
.bottom-hor-right,
.top-hor-right .coscev-content,
.bottom-hor-right .coscev-content,
.top-vert-right,
.bottom-vert-right,
.top-vert-right .coscev-content,
.bottom-vert-right .coscev-content {
  right: 0%;
}
h3.coscev-title {
  position: fixed;
  top: 100px;
}

/*
navigation bar
*/
#coscev_navigation_bar {
	position: fixed; 
	z-index:750; 
	height: 20px; 
	top: 1px; 
	left: 1px;
}
.admin-menu #coscev_navigation_bar {
	top: 40px;
}
#coscev_navigation_bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#coscev_navigation_bar ul li {
	display: inline-block;
	margin-right: 1px;
}
#coscev_navigation_bar ul li a {
	padding: 5px 10px;
	background: black;
	color: #e6e6e6;
}
